ARC_TESTNET_RPC_URL=
DEPLOYER_PRIVATE_KEY=
NEXT_PUBLIC_ARC_TESTNET_RPC_URL=
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_FUND_POOL_ADDRESS=
NEXT_PUBLIC_ARC_USDC_ADDRESS=
NEXT_PUBLIC_ARC_EXPLORER_URL=
