ARC_TESTNET_RPC_URL=
DEPLOYER_PRIVATE_KEY=
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_CHAIN_ID=5042002
NEXT_PUBLIC_ARC_FUND_POOL_ADDRESS=0xC538169A73d3B2cBfEEB3D92caE502088d3c02B8
NEXT_PUBLIC_ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
NEXT_PUBLIC_ARC_EXPLORER_URL=https://testnet.arcscan.app
